.browser {
  position: relative;
  flex-wrap: nowrap;
  padding-bottom: 150px;
  background: linear-gradient(to top, $color_light_grey 0%, white 100%);

  @include for_1200max {
    flex-direction: column;
  }

  &_text {
    margin-top: 50px;
    padding-right: 150px;

    @include for_1800max {
      margin-top: 20px;
      padding-right: 100px;
    }
    @include for_1350max {
      padding-right: 50px;
    }
  }

  &_checklist {
    margin-top: 70px;

    @include for_1800max {
      margin-top: 40px;
    }
    @include for_1550max {
      margin-top: 30px;
    }
    @include for_1350max {
      margin-top: 20px;
    }
  }

  &_padding {
    padding-top: 0;
    padding-left: 265px;

    @include for_1800max {
      padding-left: 175px;
      padding-top: 40px;
    }
    @include for_1440max {
      padding-left: 100px;
    }
  }

  &_img {
    padding-top: 50px;
    max-width: 100%;
    margin-right: 0;
    margin-left: auto;
    height: 37vw;

    @include for_1800max {
      padding-top: 65px;
    }
    @include for_1200max {
      height: 65vw;
    }
  }

}

.checklist_item {
  margin-bottom: 45px;

  @include for_1550max {
    margin-bottom: 20px;
  }
  @include for_1350max {
    margin-bottom: 15px;
  }

  &_img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }

  &_text {
    font-size: 22px;
  }
}