.features {
  padding-top: 260px;
  padding-bottom: 150px;

  @include for_1024max {
    flex-direction: column;
  }

  &_list {
    flex-wrap: wrap;
    position: relative;
  }
}

.feature {

  &_title {
    margin-bottom: 30px;
  }

  &_text {
    margin-bottom: 50px;
  }

  &_item {
    width: 33%;
    padding: 0 50px;

    @include for_1200max {
      padding: 0 25px;
    }
    @include for_1024max {
      width: 100%;
      padding: 50px;
    }
  }

  &_icon {
    height: 90px;
    width: 90px;
    margin-bottom: 60px;
  }

  &_line {
    content: "";
    position: absolute;
    top: 12%;
    left: 0;
    width: 200px;
    height: 1px;
    background-color: $color_grey;
    z-index: 100;
    opacity: 0.302;

    @include for_1440max {
      width: 100px;
    }
    @include for_1024max {
      width: 300px;
    }

    &_first {
      left: 26%;

      @include for_1440max {
        left: 29%;
      }
      @include for_1024max {
        left: 34%;
        top: 34%;
      }
    }

    &_second {
      left: 58%;

      @include for_1440max {
        left: 61%;
      }
      @include for_1024max {
        left: 34%;
        top: 67%;
      }
    }
  }

}
