@import "mixins";

.pricing {
  padding-top: 150px;
  padding-bottom: 105px;
}

.pricing_items {
  @include for-1024max {
    flex-direction: column;
  }
}

.pricing_item {
  width: 33%;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.30);
  margin: 100px 55px;
  cursor: pointer;
  transition: all 0.2s ease-out;

  @include for-1440max {
    margin: 100px 30px;
  }
  @include for-1200max {
    margin: 50px 15px;
  }
  @include for-1024max {
    width: 50%;
    margin: 50px auto;
  }
}

.pricing_item:hover {
  transform: scale(1.05);
}

.pricing_item_title {
  margin-top: 50px;
}

.dollar {
  font-size: 40px;
}

.pricing_item_price {
  font-size: 72px;
  margin: 55px 0;
}

.pricing_item_feature {
  height: 25px;
  margin-bottom: 30px;
}

.pricing_item_features {
  margin-bottom: 20px;
}

.pricing_icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.pricing_text {
  width: 65%;
  margin: 0 auto 65px;

  @include for-1200max {
    width: 80%;
  }
}

.pricing_btn {
  position: relative;
}

.pricing_btn::before,
.pricing_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 225px;
  height: 1px;
  background-color: $color_grey;
  transform: translateY(-50%);
}

.pricing_btn::before {
  left: 230px;
}

.pricing_btn::after {
  right: 230px;
}